<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/main.js"></script>

</head>

<body>
<div th:replace="fragments/topnav.html :: adminNavbar" >
</div>

<main role="main" class="container">
    <br>
    <div class="col-12 col-md-12">
        <form class="alert text-warning alert-warning">
            <h3 class="text info" >Set your product attributes</h3>
        </form>
    </div><br>

    <form action="#" th:action="@{/admin/addProduct}" th:object="${product}" method="post" >
        <div class="container border border-warning">
            <div class="row">
                <div class="form-group col-md-4">
                    <h8 for="name" class="col-form-label text-warning">Name</h8>
                    <input type="text" id="name" placeholder="Set product name" class="form-control" th:field="*{name}">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 ">
                    <h8 for="image" class="col-form-label text-warning">Image</h8>
                    <input type="text" id="image" placeholder="Set product image\url" class="form-control" th:field="*{image}">
                    <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <h8 for="quantity" class="col-form-label text-warning">Quantity</h8>
                    <input type="number" id="quantity" placeholder="Set product quantity" class="form-control" th:field="*{quantity}">
                    <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <h8 for="price" class="col-form-label text-warning">Price</h8>
                    <input type="number" id="price" placeholder="Set product price" class="form-control" th:field="*{price}">
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <h8 for="discount" class="col-form-label text-warning">Discount</h8>
                    <input type="number" id="discount" placeholder="Set discount" class="form-control" th:field="*{discount}">
                    <span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <br>
                    <input type="submit" class="btn btn-success" value="Add Product">
                </div>
            </div>
        </div>

    </form>

</main>
<!-- /.container -->
<div class="mt-5 p-4 bg-light text-red text-center">
    <p>ⒸYitzhak Azo - David AlfiaⒸ</p>
</div>
</body>
</html>